<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Site title</title>
    <meta name="description" content="Site description">
    
</head>
<body>

    <!--grunt-plugin name=twitter accout=@site-accout-->

<!-- Twitter meta to replace by grunt plugin - auto insert -->
<meta name="twitter:url" content="/index.html">
<meta name="twitter:description" content="Site description">
<meta name="twitter:title" content="Site title">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="<%= seo_twitter_accout %>">
<meta name="twitter:image" content="<%= website_image %>">
    
</body>
</html>