<!DOCTYPE html>
<html>

<head>
  <meta name="description" content="">
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <!-- build:template
    <% if (environment === 'dev') { %>
    <link rel="stylesheet" type="text/css" href="css/automatic.css" />
    <% } %>
  /build -->

  <title>TITLE</title>
  <meta name="theme-color" content="#ffffff">
  <link rel="publisher" href="https://github.com/BartoszPiwek">
</head>
<body>

<!-- icon-download -->


<!-- add here -->


  <!-- build:template
  <% if (environment === 'dev') { %>
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/svg4everybody.js"></script>
    <script src="js/libs/picturefill.js"></script>
    <script src="js/libs/select2.js"></script>
    <script src="js/libs/tooltipster.js"></script>
    <script src="js/main.js"></script>
    <script src="js/libs/debug.js"></script>
  <% } else { %>
    <script src="js/scripts.min.js" defer></script>
  <% } %>
  /build -->

</body>
</html>
